*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
awake-demo/iosApp/Podfile.lock
awake-demo/iosApp/Pods/*
awake-demo/iosApp/iosApp.xcworkspace/*
awake-demo/iosApp/iosApp.xcodeproj/*
!awake-demo/iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
/awake-vulkan/build-native/*